---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>I aim to develop students’ sociological imagination through a combination of engaging materials that introduce a wide range of perspectives, a class structure that encourages sustained discussions and critical reflection, and the provision of meaningful feedback that is sensitive to each student’s individual pace and circumstances. My syllabi are accessible through the links below.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Teaching Assistantship</h2>
<p><i>Undergraduate courses</i></p>

<p>Boston College, 2021-2024</p>

<ul>
	<li>Research Methods in Social Sciences</li>
	<li>Introduction to Latin America Society</li>
	<li>Sociological Theory</li>
	<li>Crime and Social Deviance</li>
</ul>